.margin-top-10{
	margin-top: 10px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-top-30{
	margin-top: 30px;
}

.margin-right-0{
	margin-right: 0px;
}

.padding-left-0{
	padding-left: 0px;
}
.padding-left-5{
	padding-left: 5px;
}
.padding-left-7{
	padding-left: 7px;
}


.page .btn-curious-blue-outline{
	background-color: white;
}
.ui-slider-horizontal .ui-slider-handle{
	top: -.35em;
	margin-left: -.6em;
}
.ui-slider .ui-slider-handle{
	width: 1em;
	height: 1em;
	cursor: pointer;
}
.ui-slider-horizontal{
	height: .5em;
}
.btn{
	padding: 0px 29px;
}

@media (max-width: 768px) {
	.margin-top-10-xs{
		margin-top: 10px;
	}
}

@media (max-width: 767px){
	.table-mobile .table-curious-blue tbody tr td:first-child{
		color: #000000;
	}
	.table-mobile .table-curious-blue tbody tr[name = "info"]{
		display: none;
	}
	.table-mobile .table-curious-blue tbody tr td span[name = "offer-info"]:hover{
		cursor: pointer;
	}
}

.baner-slider{
	padding-top: 10px;
	padding-bottom: 10px;
}
h3 + *, .h3 + *{
	margin-top: 15px;
}
.table > thead > tr > th{
	padding-top: 10px;
	padding-bottom: 10px;
}
.select2-container--bootstrap .select2-selection--single{
	height: 30px;
	line-height: 30px;
}
.stepper{
	max-width: 100%;
	width: 100%;
}
.form-control{
	height: 30px;
}